<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>接口列表</title>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<style>
#page a{float:left;margin:5px 2px 0 2px;height:30px;color: #000;font:18px 宋体;text-align:center;text-decoration:none;color:#3399ff;border:1px #3399ff solid;background:#fff;line-height:30px;border-radius:4px;}
#page a:hover{position:relative;margin:0 -5px 0 -5px;width:auto;height:40px;font:bold 24px 宋体;color:#3399ff;border:1px #3399ff solid;background:#fff;line-height:40px;border-radius:4px;}
.current{float:left;width:32px;height:32px;color:#fff;background:#33ffff;margin:5px 1px 0 1px;text-align:center;line-height:32px;border-radius:4px;}
#page{list-style:none;width:auto;height:50px;font:18px 宋体;line-height:40px;text-align:center;color:#3399ff;}
</style>
</head>
<body>
<div class="container">
	<h1>全部接口列表</h1>
	<div class="raw">
		<div class="col-md-6">
			<form  class="form-inline" role="form"  method="GET" action="__URL__/index" target="_self">
				<div class="form-group">
					<input type="text" class="form-control" id="title" name="title" placeholder="请输入名称" value="<empty name="Think.get.title"><else/>{$Think.get.title}</empty>">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="url" name="url" placeholder="请输入url" value="<empty name="Think.get.url"><else/>{$Think.get.url}</empty>">
				</div>
				<div class="form-group">
					<div class="dropdown">
						<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" name="type" data-toggle="dropdown">
							<empty name="Think.get.type">接口类型<else/>{$Think.get.type}</empty>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							{:W('Category/Types')}
						</ul>
					</div> 
					<input type="text" id="type" name="type" class="form-control hidden" value="<empty name="type"><else/>{$type}</empty>">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">提交</button>
				</div>
			</form><br>
		</div>
		<div class="col-md-6 ">
			<a href="__URL__/edit" target="_blank">
				<button type="button" class="btn btn-success">
					<span class="glyphicon glyphicon-plus"></span>  新增接口
				</button>
			</a>
			<a href="__URL__/importHttp" target="_blank">
				<button type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-cloud"></span>  HTTP接口
				</button>
            </a>
			<a href="__URL__/index?status=-1" target="_blank">
				<button type="button" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span>  回收站
				</button>
			</a>
			<?php if(I('environment') == test) {?>
			<a href="__URL__/index?environment=online">
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-star"></span>  线上环境
                </button>
            </a>
            <?php }else{ ?>
            <a href="__URL__/index?environment=test">
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-star"></span>  测试环境
                </button>
            </a>
            <?php } ?>
			
		</div>
	</div>
	
	<div class="raw">
		<div class="col-md-12">
			<form class="form-inline">
				<div class="form-group">
	    			<input type="text" class="form-control"  placeholder="更改host:192.168.19.3" >
  				</div>
  				<div  class="btn btn-default" id="hosts">保存</div>
  			</form>
		</div>
	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
                <th>id</th>
                <th>名称</th>
                <th>url</th>
                <th>类型</th>
                <th>操作</th>
                <th>删除或还原</th>
			</tr>
		</thead>  
		<tbody>
		<volist id="vo" name="list">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.title}</td>
                <td>{$vo.url}</td>
                <td>{$vo.type}</td>
                <td>
                    <a href="__URL__/edit?id={$vo.id}&environment={$Think.get.environment}" target="_self">编辑</a>
                    <a href="__URL__/test/test?id={$vo.id}" target="_blank">测试</a>
                    <a href="__URL__/copy?id={$vo.id}" target="_blank">复制</a>
                </td>
                <td>
                    <eq name="vo.status" value="-1">
                        <a href="__URL__/delete?id={$vo.id}" target="_blank" title="还原">
                            <span class=" glyphicon glyphicon-refresh"></span>
                        </a>
                    <else/>
                        <a href="__URL__/delete?id={$vo.id}" target="_blank"  title="删除">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                       
                    </eq>
                </td>
                
            </tr>
		</volist>
		</tbody>
	</table>
	<div id="page">{$page}</div>
</div>
</body>
<script>
  $(".dropdown-menu li a").click(function(){
    var text = $(this).text();
    $("#dropdownMenu1").val(text).text(text);
    if (text != '无'){
    	$("#type").val(text);	
    }
  });
  $(".dropdown-menu li a").click(function(){
	    var text = $(this).text();
	    $("#dropdownMenu1").val(text).text(text);
	    if (text != '无'){
	    	$("#type").val(text);	
	    }
	  });
  $("#hosts").click(function(){
	  var a = $("#hosts").siblings(".form-group");
	  var b= a.find("input").val();
	  $.post("hosts",
	  {
	    host:b,
	  },
	  function(data,status){
		  if(data == -1){
			  alert("IP地址格式错误");
		  }
		  location.reload();
	  });
	});
</script>
</html>