<!DOCTYPE html>
<html>
<head>
    <title>添加接口</title>
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- <script src="http://libs.useso.com/js/ckeditor/4.4.2/ckeditor.min.js"></script> -->
    <script>
        var URL = '__URL__';
    </script>
    <script src="__PUBLIC__/common.js"></script>

</head>
<body>


<div class="container" >

{$htmlList}

</div>

</body>
</html>