<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>工具包</title>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<base target="_blank" />
</head>

<body>
<div class="row">
<div class="col-md-4"></div>
  <div class="col-md-4"><h1>功能列表</h1></div>
  <div class="col-md-4"></div>
</div>

<table class="table table-striped">
    <tr>
        <td><a href="{:U('/home/doc/index')}">api接口文档</a></td>
    </tr>
    <tr>
        <td><a href="{:U('/home/test/index?environment=test')}">api 接口测试</a></td>
    </tr>
    
     <tr>
        <td><a href="{:U('/home/form/index')}">表单生成工具</a></td>
    </tr>
    
</table>

</body>
</html>