<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{$detail.title|default=API接口列表}</title>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script  src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/jquery.jsonview.css" />
<script type="text/javascript" src="__PUBLIC__/jquery.jsonview.js"></script>
<style type="text/css">
.selList{ height:100px;}
</style>
</head>
<body>
<taglib name="html" />
<div class="row" style="margin-top:10px;">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="tableName" class="col-sm-2 control-label">表名</label>
      <div class="col-sm-10">
        <html:select id="tableName" options="tabText" selected="value"  change="loadField()" />
      </div>
    </div>
    
    <div class="form-group">
      <label for="tableFields" class="col-sm-2 control-label">需要生成的字段</label>
      <div class="col-sm-10">
        <select multiple class="form-control  selList" style="height:200px;" id="tableFields">
        </select>
      </div>
    </div>
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-info" onclick="getFormHtml();">生成选定的字段</button>
      <button type="button" class="btn btn-info" onclick="getallFormHtml();">生成所有表字段</button>
    </div>
  </div>
 
 <div class="form-group" style="margin-top:50px;">
      <label for="'.$name.'" class="col-sm-2 control-label">Form内容</label>
      <div class="col-sm-10">
        <textarea id="form_text" cols="100" rows="12"></textarea>
      </div>
    </div>
    
  </form>
  

  
</div>

<div class="row">
  <div class="col-md-6"> 
  </div>
  <div class="col-md-6">

  </div>
</div>
<script type="text/javascript">
function loadField(){
	tableName = $('#tableName').val();
	$.post("__CONTROLLER__/loadField",{'tableName': tableName},
	function(data){
		$('#tableFields').html(data);
	});
}

function getFormHtml(){
	
	tableName = $('#tableName').val();
	tableFields = $('#tableFields').val();
	
	$.post("__CONTROLLER__/generate",{'tableName': tableName,"tableFields":tableFields},function(data){
			$('#form_text').val(data);
	});
	//getFormHtml
}

function getallFormHtml(){
	tableName = $('#tableName').val();
	tableFields = $('#tableFields').val();
	
	$.post("__CONTROLLER__/generateAll",{'tableName': tableName,"tableFields":tableFields},function(data){
			$('#form_text').val(data);
	});
}
	
$(function(){
	loadField();
});
 

</script>
</body>
</html>
