

<div class="row-fluid sortable">
    <div class="box span12">
        <div data-original-title="" class="box-header well"> <i class="icon-user"></i> <a href="{$control}/add" class="">添加</a></div>
        <div class="box-content">
            <form method='get' action="__SELF__"  class="form-inline">
                {$htmlSearch}
		      <button type="submit" class="btn btn-primary">搜索</button>
		    </form>
            <br />


            <literal><html</literal>:list id="checkList" name="user" style="table table-striped table-bordered bootstrap-datatable datatable" checkbox="true" action="true"   datasource="list" show="{$f_list}" actionlist="{$f_action}"/>

           <div class="container text-center"> <literal>{$page}</literal> </div>
 
        </div>
    </div>

</div>

<script src="__PUBLIC__/common/{$tableName}.js"></script>